:root {
  --primary-black: #1e1e1e;
  --grey: #88848d;
  --white: #ffffff;
  --main-color: #fe5525;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
